body{
    background: url('../img/stardust.png');
}

.vertical-align{
    min-height: 100%;
    min-height: 100vh; 
    display: flex;
    align-items: center;
}

.logo{
    margin-top: -74px;
}